body {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
}

.secondary-label {
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.167;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .secondary-label {
    font-size: 26px;
    line-height: 1.154;
  }
}

@media screen and (min-width: 1280px) {
  .secondary-label {
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
}

.secondary-title {
  font-family: "Titan One", cursive;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .secondary-title {
    font-size: 48px;
    line-height: 1.146;
  }
}

@media screen and (min-width: 1280px) {
  .secondary-title {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #0000001a;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-btn .cross-icon {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal__close-btn:hover .cross-icon,
.modal__close-btn:focus .cross-icon {
  fill: #D41443;
}

.modal__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .modal__header {
    line-height: 1.15;
  }
}

.application-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.application-form__field {
  letter-spacing: 0.01em;
}

.application-form__label {
  font-size: 12px;
  line-height: 1.167;
  color: #757575;
}

.application-form__input--wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.application-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-size: 14px;
  line-height: 1.143;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__input:focus {
  border-color: #D41443;
}

.application-form__input:focus + .application-form__icon {
  fill: #D41443;
}

.application-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid #21212133;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.143;
  resize: none;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-form__message::-webkit-input-placeholder {
  color: #75757580;
}

.application-form__message:-ms-input-placeholder {
  color: #75757580;
}

.application-form__message::-ms-input-placeholder {
  color: #75757580;
}

.application-form__message::placeholder {
  color: #75757580;
}

.application-form__message:focus {
  border-color: #D41443;
}

.application-form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.application-form__policy-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.application-form__policy-input {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.application-form__policy-input:checked + .check-icon {
  visibility: visible;
}

.check-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  background-color: #D41443;
  border-radius: 2px;
  fill: #ffffff;
  cursor: pointer;
  visibility: hidden;
}

.application-form__policy-text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #757575;
}

.application-form__link {
  color: #D41443;
}

.application-form__btn {
  display: block;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #D41443;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .application-form__message {
    font-size: 12px;
    line-height: 1.167;
  }
  .application-form__policy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
}

.about__descriptions {
  width: 220px;
  padding-top: 46px;
}

.about__description-upper {
  line-height: 1.58;
  font-weight: 500;
  margin-bottom: 47px;
}

.about__description-lower {
  line-height: 1.58;
  font-weight: 500;
  color: #907e82;
  margin-bottom: 17px;
}
/*# sourceMappingURL=main.css.map */