$mainFont: 'DM Sans', sans-serif;
$secondaryFont: 'Titan One', cursive;

$fontMedium: 500;
$fontBold: 700;

$fontSizePrimary: 16px;
$fontSizeSecondary: 14px;
$fontSizePrimaryMobile: 12px;
$fontSizeHeaderDesktop: 58px;
$fontSizeHeaderTablet: 48px;
$fontSizeHeaderMobile: 34px;
$fontSizeLabelDesktop: 30px;
$fontSizeLabelTablet: 26px;
$fontSizeLabelMobile: 18px;
$fontSizeProductHeader: 20px;

$mainColor: #d41443;

$colorBg1: #ffb8ca;
$colorBg2: #e5e5e5;
$colorBg3: #fff5f6;
$colorBg4: #e17992;
$colorBg5: #f0d1a5;
$colorBg6: #c2e297;
$colorBg7: #fafafa;
$colorBg8: #fea5bb;

$colorTheme1: #ffffff;
$colorTheme2: #ffa5ba;

$colorFont1: #000000;
$colorFont2: #907e82;
$colorFont3: #ffffff;
$colorFont4: #d31342;

$icoFill1: #fea5bb;
$icoFill2: #d31342;
$icoFill3: #ffffff;

$btnColor2: #fff;

$colorHoverPrimary: #ecebeb;
$colorHoverSecondary: #c7133e;

$colorPagination: #d9d9d9;
$colorLine: #e1e1e1;

$shadowContact: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
$shadowMenuMobile: -8px 0px 20px 0px rgba(0, 0, 0, 0.25);

$radiusPrimary: 24px;
$radiusSecondary: 6px;
$radiusBtnPrimary: 22px;
$radiusBtnSecondary: 20px;

$cursor: pointer;

$mainTransition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
