
<section class="about" id="aboutus">
  <div class="container">
    <p class="secondary-label">tradition and love</p>
    <h2 class="secondary-title">how it&#8217;s made&#63;</h2>
    <div class="about__content">
      <picture>
        <source
          srcset="
            ./images/about/desktop/about_cow_desktop.png    1x,
            ./images/about/desktop/about_cow_desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/about/tablet/about_cow_tablet.png    1x,
            ./images/about/tablet/about_cow_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about/about_cow.png 1x, ./images/about/about_cow@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img class="about__image" src="./images/about/about_cow.png" alt="happy cow and milk" />
      </picture>
      <div class="about__descriptions">
        <p class="about__description-upper">
          Fusce ut velit laoreet&#44; tempus arcu eu&#44; molestie tortor&#46; Nam vel justo
          cursus&#44; faucibus lorem eget&#44; egestas eros&#46; Maecenas eleifend erat at justo
          fringilla&#46;
        </p>
        <p class="about__description-lower">
          Curabitur lacinia enim at ex blandit&#44; vel pellentesque odio elementum&#46; Mauris
          rhoncus orci in imperdiet placerat&#46; Vestibulum euismod nisl suscipit ligula
          volutpat&#44; a feugiat urna maximus&#46; Cras massa nibh&#44; tincidunt&#46; Aliquam erat
          volutpat&#46; Aenean accumsan&#46;
        </p>
        <button class="about__btn" type="button"><span class="about__btn-title">Read more</span>
          <svg class="aboute__btn-ico">
            <use href="./images/icons/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>

