<section class="advantages">
  <div class="container">
      <h2 class="advantages__header hidden"></h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <img src="./images/advantages/icon1.png" alt="milk quantity" class="advantages__icon" />
        <p class="advantages__amount">721</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img src="./images/advantages/icon2.png" alt="fresh ingredients" class="advantages__icon" />
        <p class="advantages__amount">16kg</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img src="./images/advantages/icon3.png" alt="made with love" class="advantages__icon" />
        <p class="advantages__amount">84</p>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
