<section class="contacts" id="contact">

    <div class="container">

        <h2 class="contacts__title" hidden>Contacts</h2>



        <ul class="address">

            <li class="address__item">

                <p class="address__title">cafe</p>

                <div class="address__location">

                    <p class="address__city">Chicago</p>

                    <p class="address__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                </div>

                <div class="address__openly">

                    <p class="address__days">Monday - Friday</p>

                    <p class="address__hours">06:00 AM - 10:00 PM</p>

                    <p class="address__days">Saturday - Sunday</p>

                    <p class="address__hours">08:00 AM - 16:00 PM</p>

                </div>

                <div class="address__contacts">

                    <a class="address__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>

                    <a class="address__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>

                </div>

            </li>



            <li class="address__item">

                <p class="address__title">food truck</p>

                <div class="address__location">

                    <p class="address__city">Chicago</p>

                    <p class="address__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                </div>

                <div class="address__openly">

                    <p class="address__days">Monday - Friday</p>

                    <p class="address__hours">06:00 AM - 10:00 PM</p>

                    <p class="address__days">Saturday - Sunday</p>

                    <p class="address__hours">08:00 AM - 16:00 PM</p>

                </div>

                <div class="address__contacts">

                    <a class="address__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>

                    <a class="address__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>

                </div>

            </li>



            <li class="address__item">

                <p class="address__title">cafe</p>

                <div class="address__location">

                    <p class="address__city">Chicago</p>

                    <p class="address__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

                </div>

                <div class="address__openly">

                    <p class="address__days">Monday - Friday</p>

                    <p class="address__hours">06:00 AM - 10:00 PM</p>

                    <p class="address__days">Saturday - Sunday</p>

                    <p class="address__hours">08:00 AM - 16:00 PM</p>

                </div>

                <div class="address__contacts">

                    <a class="address__tel" href="tel:+610383766284">+61(0) 383 766 284 </a>

                    <a class="address__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>

                </div>

            </li>

        </ul>



        <div class="contacts__btns">

            <button class="contacts__btn contacts__location-btn" type="button">

                <span class="btn-text">Our Locations</span>

                <svg>

                    <use></use>

                </svg>

            </button>

            <button class="contacts__btn contacts__franchise-btn" type="button">

                <span class="btn-text">Franchise</span>

                <svg>

                    <use></use>

                </svg>

            </button>

        </div>



    </div>

</section>