<footer class="footer-section">
  <!-- Style dodane jako przykład i propozycja implementacji bez dodawania bloków HTML bez znaczenia semantycznego -->
  <!-- <style>
    .social-media__link--github,
    .social-media__link--telegram,
    .social-media__link--facebook {
      display: block;
      width: 20px;
      height: 20px;
    }
    .social-media__link--github::after {
      content: url(./images/icons/github.svg);
    }
    .social-media__link--telegram::after {
      content: url(./images/icons/telegram.svg);
    }
    .social-media__link--facebook::after {
      content: url(./images/icons/facebook.svg);
    }
  </style> -->
  <div class="container footer">
    <div class="footer__title">
      <p class="footer__superscription">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>
    <ul class="footer__social-media">
      <li class="social-media__item"><a href="" target="_blank" class="social-media__link--github"></a></li>
      <li class="social-media__item"><a href="" target="_blank" class="social-media__link--telegram"></a></li>
      <li class="social-media__item"><a href="" target="_blank" class="social-media__link--facebook"></a></li>
      <li class="social-media__item"><a href="" target="_blank" class="social-media__link link--telegram"></a></li>
    </ul>
    <p class="footer__tel">
      Feel free to contact
      <a href="tel:+610383766284" class="link footer__tel--link">+61 (0) 383 766 284</a>
    </p>
    <p class="footer__copyright">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
