<header class="header-section">
    <div class="header-section__menu">
        <div class="menu-logo">
            <a href="#" class="menu-logo__link">
                <img src="images/logo.jpg" alt="icecream" class="menu-logo__link__logo">
            </a>
        </div>
        <nav class="menu-nav">
            <ul class="menu-nav__list">
                <li class="menu-nav__list__item"><a class="menu-nav__list__item-link active" href="#">home</a></li>
                <li class="menu-nav__list__item"><a class="menu-nav__list__item-link" href="#aboutus">about us</a></li>
                <li class="menu-nav__list__item"><a class="menu-nav__list__item-link" href="#howmade">how it's made?</a>
                </li>
                <li class="menu-nav__list__item"><a class="menu-nav__list__item-link" href="#products">our products</a>
                </li>
                <li class="menu-nav__list__item"><a class="menu-nav__list__item-link" href="#contact">contact</a></li>
            </ul>
        </nav>
        <div class="menu-mobile">
            <button class="menu-mobile-open-bnt" type="button" >
                <svg class="menu-mobile-open-bnt__icon">
                    <use href="images/icons/burger.svg"></use>
                </svg>
            </button>
            <div class="menu-mobile__backdrop is-hidden" >
                <div class="menu-mobile__window">
                    <button class="menu-mobile-close-btn" type="button" >
                        <svg>
                            <use href="images/icons/close.svg"></use>
                        </svg>
                    </button>
                    <button class="menu-buy-bnt menu-buy-bnt-mobile" type="button" >
                        <span class="menu-buy-bnt__text">Buy now</span>
                        <svg class="menu-buy-bnt__icon">
                            <use href="images/icons/arrow.svg"></use>
                        </svg></button>
                    <ul class="menu-mobile__list">
                        <li class="menu-mobile__list__item"><a class="menu-mobile__list__item-link active"
                                href="#">home</a></li>
                        <li class="menu-mobile__list__item"><a class="menu-mobile__list__item-link"
                                href="#aboutus">about us</a></li>
                        <li class="menu-mobile__list__item"><a class="menu-mobile__list__item-link" href="#howmade">how
                                it's made?</a></li>
                        <li class="menu-mobile__list__item"><a class="menu-mobile__list__item-link" href="#products">our
                                products</a></li>
                        <li class="menu-mobile__list__item"><a class="menu-mobile__list__item-link"
                                href="#contact">contact</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <button class="menu-buy-bnt" type="button">
            <span class="menu-buy-bnt__text">Buy now</span>
            <svg class="menu-buy-bnt__icon">
                <use href="images/icons/arrow.svg"></use>
            </svg></button>
    </div>
</header>