<header class="header-section">
    <div class="menu">
<!-- Logo -->
        <a href="#" class="menu__logo-link">
            <img src="./images/logo.jpg" alt="icecream" class="menu__logo">
        </a>
<!-- End logo -->
<!-- Start menu -->
        <nav class="navigation">
            <ul class="nav">
                <li class="nav__item"><a class="nav_link nav_link--active" href="#">home</a></li>
                <li class="nav__item"><a class="nav_link" href="#aboutus">about us</a></li>
                <li class="nav__item"><a class="nav_link" href="#howmade">how it's made?</a>
                </li>
                <li class="nav__item"><a class="nav_link" href="#products">our products</a>
                </li>
                <li class="nav__item"><a class="nav_link" href="#contact">contact</a></li>
            </ul>
        </nav>
<!-- End menu -->

        <button class="mobile-menu__open-bnt" type="button" data-moblie-menu-open>
            <svg class="mobile-menu__open-icon">
                <use href="./images/icons/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        <button class="menu__bnt" type="button" data-modal-window-open>
            <span class="menu__bnt-label">Buy now</span>
            <svg class="menu__arrow-icon">
                <use href="./images/icons/sprite.svg#icon-arrow"></use>
            </svg>
        </button>
<!-- Start mobile menu -->
        <div class="mobile-menu">


            <div class="mobile-menu__backdrop mobile-menu--is-hidden" data-mobile-menu>
                <div class="mobile-menu__window">
                    <button class="menu-mobile__close-btn" type="button" data-mobile-menu-close>
                        <svg class="menu-mobile__close-icon">
                            <use href="./images/icons/sprite.svg#icon-close"></use>
                        </svg>
                    </button>
                    <button class="menu__bnt mobile-menu__bnt" type="button" data-modal-window-open>
                        <span class="menu__bnt-label">Buy now</span>
                        <svg class="menu__arrow-icon">
                            <use href="./images/icons/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <ul class="mobile-menu__list">
                        <li class="mobile-menu__list"><a class="mobile-menu__link mobile-menu__link--active"
                                href="#">home</a>
                        </li>
                        <li class="mobile-menu__list"><a class="mobile-menu__link"
                                href="#aboutus">about us</a>
                        </li>
                        <li class="mobile-menu__list"><a class="mobile-menu__link" href="#howmade">how
                                it's made?</a></li>
                        <li class="mobile-menu__list"><a class="mobile-menu__link" href="#products">our
                                products</a></li>
                        <li class="mobile-menu__list"><a class="mobile-menu__link"
                                href="#contact">contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
<!-- End mobile menu -->
    </div>
</header>