<!-- Hero section -->
<section class="hero">
  <div class="container">
    <!-- tu position: relative; i elementy rozmieszczone za pomocą position: absolute; -->
    <h1 class="hero__header"><span class="hero__header-wraperr">ice cream made with </span><span class="hero__header-span">passion</span></h1>

    <ul class="hero__buttons">
      <li class="hero__btn">
        <a href="#contact" class="hero__btn--left">Products</a>
      </li>

      <li class="hero__btn">
        <a href="#howmade" class="hero__btn--right">How it's made?</a>
      </li>
    </ul>

    <img src="./images/hero/hero-milk.png" alt="Bio milk" class="hero__image--milk" />

    <div class="hero__description">
      <p class="hero__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="hero__arrow-btn" data-modal--open></button>
    </div>
    
    <img
      src="./images/hero/hero-icecream.png"
      alt="Tasty ice cream"
      class="hero__image--icecream"
    />
    <img src="./images/hero/hero-circle.png" alt="circle" class="hero__image--circle"/>

    <ul class="hero__spots">
      <li class="hero__spot">
        <span class="hero__counter--bigger">16</span>
        <span class="hero__counter">cafes</span>
        <img src="./images/hero/hero-littlecircle.png" alt="white circle" class="hero__cunter--circle">

      </li>

      <li class="hero__spot">
        <span class="hero__counter--bigger">23</span>
        <span class="hero__counter">food trucks</span>
        <img src="./images/hero/hero-littlecircle.png" alt="white circle" class="hero__cunter--circle">
        
        
        
      </li>
    </ul>

    <img
      src="./images/hero/hero-girl.png"
      alt="Girl with tasty ice cream"
      class="hero__image--girl"
    />
    
  </div>
</section>
<!-- Hero section END -->
