<!-- MODAL WINDOW -->
<div class="backdrop backdrop--is-hidden" data-modal-window>
  <div class="modal">

    <button class="modal__close-btn" type="button" data-modal-window--close>
      <svg class="cross-icon">
        <use href="./images/icons/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <h2 class="modal__header">Złóż zapytanie ofertowe w formularzu poniżej</h2>
    
    <form class="application-form">
      <label class="application-form__field" for="user-name">
        <span class="application-form__label">Imie</span>
        <span class="application-form__input--wrapper">
          <input
            class="application-form__input"
            type="text"
            name="userName"
            id="user-name"
            required
          />
          <svg class="application-form__icon">
            <use href="./images/icons/icons.svg#icon-person"></use>
          </svg>
        </span>
      </label>

      <label class="application-form__field" for="phone-number">
        <span class="application-form__label">Telefon</span>
        <span class="application-form__input--wrapper">
          <input
            class="application-form__input"
            type="tel"
            name="phoneNumber"
            id="phone-number"
            required
          />
          <svg class="application-form__icon">
            <use href="./images/icons/icons.svg#icon-phone"></use>
          </svg>
        </span>
      </label>

      <label class="application-form__field" for="e-mail">
        <span class="application-form__label">Email</span>
        <span class="application-form__input--wrapper">
          <input class="application-form__input" type="email" name="email" id="e-mail" required />
          <svg class="application-form__icon">
            <use href="./images/icons/icons.svg#icon-email"></use>
          </svg>
        </span>
      </label>

      <label class="application-form__field" for="user-message">
        <span class="application-form__label">Wiadomość</span>
        <textarea
          class="application-form__message"
          name="userMessage"
          id="user-message"
          placeholder="Wprowadź tekst"
        ></textarea>
      </label>

      <label class="application-form__policy" for="user-policy">
        <span class="application-form__policy-checkbox">
          <input
            class="application-form__policy-input"
            type="checkbox"
            name="userPolicy"
            id="user-policy"
            value="accept-policy"
            required
          />
          <svg class="check-icon">
            <use href="./images/icons/icons.svg#icon-check"></use>
          </svg>
        </span>
        <span class="application-form__policy-text">
          Oświadczam iż akceptuję <a class="application-form__link" href="#">Regulamin</a> i
          <a class="application-form__link" href="">Politykę Prywatności.</a>
        </span>
      </label>

      <button class="application-form__btn" type="submit">Wyślij</button>
    </form>
  </div>
</div>
