<!-- MODAL WINDOW -->
<div class="backdrop backdrop--is-hidden" data-modal-window>
  <div class="modal">

    <button class="modal__close-btn" type="button" data-modal-window--close>
      <svg class="cross-icon">
        <use href="./images/icons/icons.svg#icon-cross"></use>
      </svg>
    </button>

    <h2 class="modal__header">Place your order in the form below</h2>
    
    <form class="application-form">
      <label class="application-form__field" for="user-name">
        <span class="application-form__label">Name</span>
        <span class="application-form__input--wrapper">
          <input
            class="application-form__input"
            type="text"
            name="userName"
            id="user-name"
            required
          />
          <svg class="application-form__icon">
            <use href="./images/icons/icons.svg#icon-person"></use>
          </svg>
        </span>
      </label>

      <label class="application-form__field" for="phone-number">
        <span class="application-form__label">Phone number</span>
        <span class="application-form__input--wrapper">
          <input
            class="application-form__input"
            type="tel"
            name="phoneNumber"
            id="phone-number"
            required
          />
          <svg class="application-form__icon">
            <use href="./images/icons/icons.svg#icon-phone"></use>
          </svg>
        </span>
      </label>

      <label class="application-form__field" for="e-mail">
        <span class="application-form__label">E-mail</span>
        <span class="application-form__input--wrapper">
          <input 
            class="application-form__input" 
            type="email" 
            name="email" 
            id="e-mail" 
            required />
          <svg class="application-form__icon">
            <use href="./images/icons/icons.svg#icon-email"></use>
          </svg>
        </span>
      </label>

      <label class="application-form__field" for="product">
        <span class="application-form__label">Product</span>
        <select 
          class="application-form__select" 
          id="product" 
          name="productOrdered" 
          required>
          <option class="application-form__option" value="iceCream" selected>Ice Cream</option>
          <option class="application-form__option" value="iceCoffe">Ice Coffe</option>
          <option class="application-form__option" value="iceMilkshakes">Ice Milkshakes</option>
        </select>
      </label>

      <label class="application-form__field" for="products-amount">
        <span class="application-form__label">Amount (max 10)</span>
          <input 
            class="application-form__amount" 
            type="number" 
            name="productsAmount" 
            id="products-amount" 
            value="0" 
            min="1" 
            max="10" 
            required />
      </label>

      <label class="application-form__field" for="user-message">
        <span class="application-form__label">Message</span>
        <textarea
          class="application-form__message"
          name="userMessage"
          id="user-message"
          placeholder="Enter your text"
        ></textarea>
      </label>

      <label class="application-form__policy" for="user-policy">
        <span class="application-form__policy-checkbox">
          <input
            class="application-form__policy-input"
            type="checkbox"
            name="userPolicy"
            id="user-policy"
            value="accept-policy"
            required
          />
          <svg class="check-icon">
            <use href="./images/icons/icons.svg#icon-check"></use>
          </svg>
        </span>
        <span class="application-form__policy-text">
          I declare that I accept <a class="application-form__link" href="#">Regulations</a> and
          <a class="application-form__link" href="">Privacy policy</a>.
        </span>
      </label>

      <button class="application-form__btn" type="submit">Send</button>
    </form>
  </div>
</div>
