<section id="products" class="products">
  <div class="container">
    <div class="products__heading">
      <p class="title-label">100% natural</p>
      <h2 class="second-heading">products</h2>
    </div>
    <ul class="products__cards">
      <li class="products__card">
        <div class="products__card-img"></div>
        <!-- top side -->
        <div class="products__card-box products__card-box--first">
          <h4 class="products__card-tittle">ice cream</h4>
          <p class="products__card-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
          </p>
          <button type="button" class="products__card-btn">
          </button>
        </div>
        <!-- back side -->
        <div class="products__card-info products__card-box--first">
          <h4 class="products__card-tittle">ice cream</h4>
          <ul class="products__card-info-list">
            <li class="products__card-info-list-item">Lorem, ipsum.</li>
            <li class="products__card-info-list-item">Lorem ipsum dolor sit.</li>
            <li class="products__card-info-list-item">Lorem, ipsum dolor.</li>
          </ul>
          <button type="button" class="products__card-btn products__card-btn--left">
          </button>
        </div>
      </li>
      <li class="products__card">
        <div class="products__card-img"></div>
        <!-- top side -->
        <div class="products__card-box products__card-box--second">
          <h4 class="products__card-tittle">ice coffee</h4>
          <p class="products__card-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
          </p>
          <button type="button" class="products__card-btn">
          </button>
        </div>
        <!-- back side -->
        <div class="products__card-info products__card-box--first">
          <h4 class="products__card-tittle">ice coffe</h4>
          <ul class="products__card-info-list">
            <li class="products__card-info-list-item">Lorem, ipsum.</li>
            <li class="products__card-info-list-item">Lorem ipsum dolor sit.</li>
            <li class="products__card-info-list-item">Lorem, ipsum dolor.</li>
          </ul>
          <button type="button" class="products__card-btn products__card-btn--left">
          </button>
        </div>
      </li>
      <li class="products__card">
        <div class="products__card-img"></div>
        <!-- top side -->
        <div class="products__card-box products__card-box--third">
          <h4 class="products__card-tittle">milkshakes</h4>
          <p class="products__card-paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
          </p>
          <button type="button" class="products__card-btn">
          </button>
        </div>
        <!-- back side -->
        <div class="products__card-info products__card-box--first">
          <h4 class="products__card-tittle">milkshakes</h4>
          <ul class="products__card-info-list">
            <li class="products__card-info-list-item">Lorem, ipsum.</li>
            <li class="products__card-info-list-item">Lorem ipsum dolor sit.</li>
            <li class="products__card-info-list-item">Lorem, ipsum dolor.</li>
          </ul>
          <button type="button" class="products__card-btn products__card-btn--left">
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>