<section id="products" class="products">
  <div class="container">

    <div class="product__heading">
      <p class="secondary-label">100% natural</p>
      <h2 class="secondary-title">products</h2>
    </div>
    <ul class="product__cards">
      <li class="product__card product__card--first">
        <h3 class="product__title">ice cream</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
          <span class="product__text--is-hidden">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="product__btn product__btn--open"></button>
      </li>

      <li class="product__card product__card--second">
        <h3 class="product__title">ice coffe</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
          <span class="product__text--is-hidden">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="product__btn product__btn--open"></button>
      </li>

      <li class="product__card product__card--third">
        <h3 class="product__title">milkshakes</h3>
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
          <span class="product__text--is-hidden">dolore magna aliqua facilisis.</span>
        </p>
        <button type="button" class="product__btn product__btn--open"></button>
      </li>
    </ul>
  </div>
</section>