<section id="products" class="products">
  <div class="container">
    <div class="products__heading">
      <p class="secondary-label">100% natural</p>
      <h2 class="secondary-title">products</h2>
    </div>
    <ul class="products__cards">
      <li class="product__card">
        <!-- Obrazy na kartach produktów trzeba dodać później pseudo elementami -->
        <!-- top side -->
        <h3 class="product__title">ice cream</h3>
        <!-- Ikona wielokropku będzie później dodana jako pseudoelement -->
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <button type="button" class="products__btn products__btn--open">
        </button>
        <!-- Szczegółowy opis produktu - później w stylach można mu nadać position: absolute i domyślnie go ukryć
            w klasie products__description--is-hidden, a po kliknięciu buttona strzałki usunąć mu te klasę, podobnie jak
            modal -->
        <div class="products__description products__description--is-hidden">
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
          </p>
          <button type="button" class="products__btn products__btn--close">
          </button>
        </div>
      </li>
      <li class="product__card">
        <!-- Obrazy na kartach produktów trzeba dodać później pseudo elementami -->
        <!-- top side -->
        <h3 class="product__title">ice coffe</h3>
        <!-- Ikona wielokropku będzie później dodana jako pseudoelement -->
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <button type="button" class="products__btn products__btn--open">
        </button>
        <!-- Szczegółowy opis produktu - później w stylach można mu nadać position: absolute i domyślnie go ukryć
                  w klasie products__description--is-hidden, a po kliknięciu buttona strzałki usunąć mu te klasę, podobnie jak
                  modal -->
        <div class="products__description products__description--is-hidden">
          <p class="product__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
          </p>
          <button type="button" class="products__btn products__btn--close">
          </button>
        </div>
      </li>
    <li class="product__card">
      <!-- Obrazy na kartach produktów trzeba dodać później pseudo elementami -->
      <!-- top side -->
      <h3 class="product__title">ice milkshakes</h3>
      <!-- Ikona wielokropku będzie później dodana jako pseudoelement -->
      <p class="product__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <button type="button" class="products__btn products__btn--open">
      </button>
      <!-- Szczegółowy opis produktu - później w stylach można mu nadać position: absolute i domyślnie go ukryć
                w klasie products__description--is-hidden, a po kliknięciu buttona strzałki usunąć mu te klasę, podobnie jak
                modal -->
      <div class="products__description products__description--is-hidden">
        <p class="product__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et
        </p>
        <button type="button" class="products__btn products__btn--close">
        </button>
      </div>
    </li>
    </ul>
  </div>
</section>