<section class="reviews">
  <div class="container">

    <h2 class="second-heading" hidden>Reviews</h2>

    <ul class="sliders">
      <li class="slider">
        <div class="slider__img">
          <img src="./images/reviews/emily.jpg" alt="photo of the person giving the opinion" />
        </div>

        <div class="slider__opinion">
          <!-- quote -pseudoelement -->
          <p class="slider__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eaque quos consequuntur
            modi quia placeat obcaecati, unde possimus dignissimos facilis hic, illum non ipsa
            excepturi. Minima rem sit esse vel.
          </p>
        </div>

        <div class="slider__info">
          <svg class="slider__dots">
            <use></use>
          </svg>
          <p class="slider__data"><strong>Emily, Los Angeles</strong></p>
          <svg class="slider__paginiation">
            <use></use>
          </svg>
        </div>
      </li>

      <li class="slider">
        <div class="slider__img">
          <img src="./images/reviews/kate.jpg" alt="photo of the person giving the opinion" />
        </div>

        <div class="slider__opinion">
          <!-- quote -pseudoelement -->
          <p class="slider__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eaque quos consequuntur
            modi quia placeat obcaecati, unde possimus dignissimos facilis hic, illum non ipsa
            excepturi. Minima rem sit esse vel.
          </p>
        </div>

        <div class="slider__info">
          <svg class="slider__dots">
            <use></use>
          </svg>
          <p class="slider__data"><strong>Kate, New York</strong></p>
          <svg class="slider__paginiation">
            <use></use>
          </svg>
        </div>
      </li>

      <li class="slider">
        <div class="slider__img">
          <img src="./images/reviews/sue.jpg" alt="photo of the person giving the opinion" />
        </div>

        <div class="slider__opinion">
          <!-- quote -pseudoelement -->
          <p class="slider__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eaque quos consequuntur
            modi quia placeat obcaecati, unde possimus dignissimos facilis hic, illum non ipsa
            excepturi. Minima rem sit esse vel.
          </p>
        </div>
        
        <div class="slider__info">
          <svg class="slider__dots">
            <use></use>
          </svg>
          <p class="slider__data"><strong>Sue, Los Angeles</strong></p>
          <svg class="slider__paginiation">
            <use></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
