<section class="reviews">
  <div class="container">

    <h2 class="second-heading" hidden>Reviews</h2>

    <ul class="sliders">
      <li class="slider">
        <div class="slider__img">
          <img src="./images/reviews/emily.jpg" alt="photo of the person giving the opinion"
            srcset="./images/reviews/emily@2x.jpg 2x" width="85" height="85" />
        </div>

        <div class="slider__opinion">
          <!-- quote -pseudoelement -->
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="slider__info">
          <p class="slider__data"><strong>Emily, Los Angeles</strong></p>
        </div>
      </li>

      <li class="slider">
        <div class="slider__img">
          <img src="./images/reviews/kate.jpg" alt="photo of the person giving the opinion"
            srcset="./images/reviews/kate@2x.jpg 2x" width="85" height="85" />
        </div>

        <div class="slider__opinion">
          <!-- quote -pseudoelement -->
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="slider__info">
          <p class="slider__data"><strong>Kate, New York</strong></p>
        </div>
      </li>

      <li class="slider">
        <div class="slider__img">
          <img src="./images/reviews/sue.jpg" alt="photo of the person giving the opinion"
            srcset="./images/reviews/sue@2x.jpg 2x" width="85" height="85" />
        </div>

        <div class="slider__opinion">
          <!-- quote -pseudoelement -->
          <p class="slider__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
            accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>

        <div class="slider__info">
          <p class="slider__data"><strong>Sue, Los Angeles</strong></p>
        </div>
      </li>
    </ul>
  </div>
</section>