<section class="reviews">
  <div class="container">
    <h2 class="second-heading hidden">Reviews</h2>
    <ul class="reviews_boxes">
      <li class="reviews_box">
        <div class="reviews_box-img">
          <img src="images/reviews/emily.jpg" alt="photo of the person giving the opinion">
        </div>
        <div class="reviews_box-info">
          <svg class="reviews_box-quote">
            <use></use>
          </svg>
          <p class="reviews_box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
            eaque quos consequuntur modi quia placeat obcaecati, unde possimus dignissimos facilis
            hic, illum non ipsa excepturi. Minima rem sit esse vel.</p>
        </div>
        <div class="reviews_box-info">
          <svg class="reviews_box-dots">
            <use></use>
          </svg>
          <p class="reviews_box-info-item"><strong>Emily, Los Angeles</strong></p>
          <svg class="reviews_box-bottom-dots">
            <use></use>
          </svg>
        </div>
      </li>
      <li class="reviews_box">
        <div class="reviews_box-img">
          <img src="images/reviews/kate.jpg" alt="photo of the person giving the opinion">
        </div>
        <div class="reviews_box-info">
          <svg class="reviews_box-quote">
            <use></use>
          </svg>
          <p class="reviews_box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
            eaque quos consequuntur modi quia placeat obcaecati, unde possimus dignissimos facilis
            hic, illum non ipsa excepturi. Minima rem sit esse vel.</p>
        </div>
        <div class="reviews_box-info">
          <svg class="reviews_box-dots">
            <use></use>
          </svg>
          <p class="reviews_box-info-item"><strong>Kate, New York</strong></p>
          <svg class="reviews_box-bottom-dots">
            <use></use>
          </svg>
        </div>
      </li>
      <li class="reviews_box">
        <div class="reviews_box-img">
          <img src="images/reviews/sue.jpg" alt="photo of the person giving the opinion">
        </div>
        <div class="reviews_box-info">
          <svg class="reviews_box-quote">
            <use></use>
          </svg>
          <p class="reviews_box-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
            eaque quos consequuntur modi quia placeat obcaecati, unde possimus dignissimos facilis
            hic, illum non ipsa excepturi. Minima rem sit esse vel.</p>
        </div>
        <div class="reviews_box-info">
          <svg class="reviews_box-dots">
            <use></use>
          </svg>
          <p class="reviews_box-info-item"><strong>Sue, Los Angeles</strong></p>
          <svg class="reviews_box-bottom-dots">
            <use></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>