.application-form{
  display: flex;
  flex-direction: column;
}

.application-form__field {
  letter-spacing: 0.01em;
}

.application-form__label {
  font-size: 12px;
  line-height: 1.167;
  color: #757575;
}

.application-form__input--wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.application-form__input {
  width: 100%;
  height: 35px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  font-size: 14px;
  line-height: 1.143;
  transition: border-color $mainTransition;

  &:focus {
    border-color: $mainColor;
  }

  &:focus + .application-form__icon {
    fill: $mainColor;
  }
}

.application-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill $mainTransition;
}

.application-form__select,
.application-form__amount {
  width: 100%;
  height: 35px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 1.143;
  background-color: transparent;
  transition: border-color $mainTransition;

  &:focus {
    border-color: $mainColor;
  }
}

.application-form__message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid #21212133;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.143;
  resize: none;
  outline: none;
  transition: border-color $mainTransition;

  &::placeholder {
    color: #75757580;
  }

  &:focus {
    border-color: $mainColor;
  }
}

.application-form__policy {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.application-form__policy-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}

.application-form__policy-input {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  appearance: none;

  &:checked + .check-icon {
    visibility: visible;
  }
}

.check-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 15px;
  background-color: $mainColor;
  border-radius: 2px;
  fill: #ffffff;
  cursor: pointer;
  visibility: hidden;
}

.application-form__policy-text {
  margin-left: 8px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #757575;
}

.application-form__link {
  color: $mainColor;
}

.application-form__btn {
  display: block;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: $colorTheme1;
  background-color: $mainColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .application-form__message {
    font-size: 12px;
    line-height: 1.167;
  }

  .application-form__policy {
    justify-content: center;
  }
}