.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #0000001a;
  border-radius: 50%;
  cursor: pointer;

  & .cross-icon {
    width: 11px;
    height: 11px;
    fill: #000000;
  }

  &:hover .cross-icon,
  &:focus .cross-icon {
    fill: #D41443;
  }
}

.modal__header {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }

  .modal__header {
    line-height: 1.15;
  }
}