.contacts {
  padding-bottom: 113px;
  background-image: linear-gradient(180deg, $colorTheme1 4%, $colorBg3 0.05%, $colorBg3 100%);
  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    background: $mainColor;
    border-radius: $radiusBtnPrimary;
    border: none;
    height: 44px;
    width: 161.45px;
    color: $colorTheme1;
    font-weight: $fontBold;
    font-size: $fontSizePrimary;
    line-height: 1.313;
    text-align: left;
    cursor: pointer;
  }
  &__franchise-btn {
    margin-top: 10px;
    background-color: $colorTheme1;
    &:hover,
    &:focus {
      background-color: $colorHoverPrimary;
    }
    &-text {
      padding-left: 17px;
      padding-right: 13.17px;
      color: $mainColor;
    }
    &-ico {
      width: 4.28px;
      height: 8px;
      stroke: $mainColor;
    }
  }
  &__btn-text {
    padding-left: 17px;
    padding-right: 8px;
  }
  &__btn-ico {
    width: 4px;
    height: 8px;
    stroke: $colorTheme1;
  }
}
.address {
  margin: 0 auto 54px;
  width: 220px;
  list-style-type: none;

  &__item {
    padding: 43px 21px 43px 20px;
    margin-bottom: 20px;
    background-color: $colorTheme1;
    border-radius: $radiusPrimary;
    box-shadow: $shadowContact;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    border-radius: 4px;
    font-weight: $fontMedium;
    line-height: 1.833;
    color: $colorTheme1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    &--first {
      background-color: $colorBg5;
      width: 80px;
      margin-right: auto;
    }
    &--second {
      background-color: $colorBg6;
      width: 130px;
      margin-right: auto;
    }
  }
  &__location {
    margin-bottom: 25px;
    padding: 25px 0;
    border-bottom: 1px solid $colorLine;
  }
  &__city {
    margin-bottom: 10px;
    font-weight: $fontMedium;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: $colorFont1;
  }
  &__description {
    line-height: 1.5;
    color: $colorFont2;
  }
  &__openly {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $colorLine;
    font-weight: $fontMedium;
    line-height: 1.833;
  }
  &__days {
    color: $colorFont1;
  }
  &__hours {
    color: $colorTheme2;
  }
  &__contacts {
    font-weight: $fontMedium;
    line-height: 1.5;
  }
  &__tel {
    text-decoration: none;
    color: $colorFont2;
  }
  &__mail {
    text-decoration: none;
    color: $colorFont2;
  }
}
// -----------------768-----------------
@media screen and (min-width: 768px) {
  .contacts {
    background-image: linear-gradient(180deg, $colorTheme1 9%, $colorBg3 0.05%, $colorBg3 100%);
    padding-bottom: 165px;
    &__btns {
      flex-direction: row;
     justify-content: center;
    }
    &__btn {
      width: 191px;
    }
    &__franchise-btn {
      margin-left: 14.5px;
      width: 174px;
      margin-top: 0;
      &-text {
        padding-left: 37.71px;
        padding-right: 13.17px;
      }
      &-ico {
        width: 4.26px;
      }
    }
    &__btn-text {
      padding-left: 30px;
      padding-right: 13.4px;
    }
    &__btn-ico {
      width: 4.26px;
    }
  }
  .address {
    display: flex;
    justify-content: space-between;
    width: 700px;
    &__item {
      width: 220px;
      padding: 50px 32px 50px 31px;
      margin-bottom: 0;
    }
    &__title {
      &--first {
        width: 73px;
      }
      &--second {
        width: 138px;
      }
    }
    &__location {
      margin-bottom: 30px;
      padding: 30px 0;
    }

    &__openly {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
    &__contacts {
      line-height: 1.857;
    }
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
     background-image: linear-gradient(180deg, $colorTheme1 12%, $colorBg3 0.05%, $colorBg3 100%);
    &__btn {
      width: 198px;
    }
    &__franchise-btn {
      margin-left: 15px;
      width: 180px;
      &-text {
        padding-left: 39px;
        padding-right: 13.62px;
      }
      &-ico {
        width: 4.43px;
      }
    }
    &__btn-text {
      padding-left: 35px;
      padding-right: 13.62px;
    }
    &__btn-ico {
      width: 4.43px;
    }
  }
  .address {
    width: 1050px;
    &__item {
      width: 330px;
      padding: 51px 53px 62px 43px;
    }
    &__location {
      margin-bottom: 32px;
      padding: 32px 0;
    }
    &__openly {
      margin-bottom: 32px;
      padding-bottom: 32px;
    }
    &__contacts {
      line-height: 1.813;
    }
  }
}
