.hero .container{
    background-color: #FFB8CA;
}
.hero {
    &__image--milk,
    &__description,
    &__spots,
    &__image--girl {
        display: none;
    }
    &__image--icecream{
        width: 171px;
        height: 410px;
        // position: absolute;
        // left: 117px;
        // top: 92px;
        // z-index: 5;
    }

}