.products {
  padding: 121px 0 98px;
}

.product {
  &__cards {
    width: 100%;
    margin: 0 auto;
    margin-top: 144px;
  }

  &__card {
    position: relative;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
    padding: 161px 39px 41px 41px;
    border-radius: $radiusPrimary;
    color: $colorFont3;
    text-align: center;
    letter-spacing: 0.04em;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -113px;
      transform: translateX(-50%);
      width: 249px;
      height: 252px;
    }

    &:hover::before {
      animation: fadeIn 800ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--first {
      background-color: $colorBg1;

      &::before {
        background-image: url('../images/products/ice_cream_mobile.png');
      }
    }

    &--second {
      background-color: $colorBg5;

      &::before {
        background-image: url('../images/products/coffe_mobile.png');
      }
    }

    &--third {
      background-color: $colorBg6;

      &::before {
        background-image: url('../images/products/milkshake_mobile.png');
      }
    }
  }

  &__title {
    position: relative;
    font-family: $secondaryFont;
    font-size: $fontSizeProductHeader;
    font-weight: normal;
    line-height: 1.15;
    text-transform: uppercase;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 53px;
      transform: translateX(-50%);
      width: 26px;
      height: 6px;
      background-image: url('../images/icons/product_dots.svg');
    }
  }

  &__text {
    margin: 66px 0 30px;
    font-weight: $fontBold;
    font-size: $fontSizeSecondary;
    line-height: 152%;
  }

  &__btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: url('../images/products/arrow_right.jpg');
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product {
    &__card {
      &--first::before,
      &--second::before,
      &--third::before {
        width: 220px;
        height: 233px;
        background-position: center;
        background-size: 100% 100%;
      }
      &--first {
        &::before {
          background-image: url('../images/products/ice_cream_mobile@2x.png');
        }
      }

      &--second {
        &::before {
          background-image: url('../images/products/coffe_mobile@2x.png');
        }
      }

      &--third {
        &::before {
          background-image: url('../images/products/milkshake_mobile@2x.png');
        }
      }
    }
  }
}

// -----------------768-----------------
@media screen and (min-width: 768px) {
  .products {
    padding: 122px 0 112px;
  }

  .product {
    &__cards {
      margin-top: 150px;
      display: flex;
      justify-content: space-between;
    }

    &__card {
      margin-bottom: 0;
      margin-top: 0;
      padding: 152px 11px 40px 11px;
      width: 220px;

      &::before {
        top: -104px;
        width: 220px;
        height: 226px;
      }

      &--first {
        &::before {
          background-image: url('../images/products/ice_cream_tablet.png');
        }
      }

      &--second {
        background-color: $colorBg5;

        &::before {
          background-image: url('../images/products/coffe_tablet.png');
        }
      }

      &--third {
        background-color: $colorBg6;

        &::before {
          background-image: url('../images/products/milkshake_tablet.png');
        }
      }
    }

    &__text {
      margin-bottom: 40px;
      line-height: 1.7857;

      &--is-hidden {
        display: none;
      }
      &-second--is-hidden {
        display: none;
      }
      &-third--is-hidden {
        display: none;
      }
    }
    &__btn--close {
      transform: rotate(-90deg);
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .product {
      &__card {
        &--first {
          &::before {
            background-image: url('../images/products/ice_cream_tablet@2x.png');
          }
        }

        &--second {
          &::before {
            background-image: url('../images/products/coffe_tablet@2x.png');
          }
        }

        &--third {
          &::before {
            background-image: url('../images/products/milkshake_tablet@2x.png');
          }
        }
      }
    }
  }
}

// -----------------1280-----------------
@media screen and (min-width: 1280px) {
  .products {
    padding: 127px 0 119px;
  }

  .product {
    &__cards {
      margin-top: 259px;
    }

    &__card {
      padding: 163px 44px 50px 44px;
      width: 329px;

      &::before {
        top: -210px;
        width: 335px;
        height: 335px;
      }

      &--first {
        &::before {
          background-image: url('../images/products/ice_cream.png');
        }
      }

      &--second {
        background-color: $colorBg5;

        &::before {
          background-image: url('../images/products/coffe.png');
        }
      }

      &--third {
        background-color: $colorBg6;

        &::before {
          background-image: url('../images/products/milkshake.png');
        }
      }
    }
    &__title {
      font-size: $fontSizeLabelDesktop;

      &::after {
        top: 68px;
      }
    }

    &__text {
      margin-top: 70px;
      margin-bottom: 62px;
      line-height: 1.7857;
      font-size: $fontSizePrimary;
    }
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .product {
      &__card {
        &--first {
          &::before {
            background-image: url('../images/products/ice_cream@2x.png');
          }
        }

        &--second {
          &::before {
            background-image: url('../images/products/coffe@2x.png');
          }
        }

        &--third {
          &::before {
            background-image: url('../images/products/milkshake@2x.png');
          }
        }
      }
    }
  }
}
